body{
    background-color: #f3f4f5;
}

#navbar{
    background-color: #2a5959 ;
}

#photo1{
    width: 250px;
    height: 300px;
}

#photo2{
    width: 250px;
    height: 400px;
    border-radius: 250px;
    box-shadow: 2px black;
}

#photo3{
    width: 325px;
    height: 200px;
    border-radius: 50%;
    background-image: url(img/photo3.jpg);
    background-position: 1px -210px;
    background-size: 375px;
    background-repeat: no-repeat;
    margin-top: 50px;
}

#text-section-about{
    margin-top: 50px;
}

#text-section-places{
    margin-top: 75px;
}

#tc{
    letter-spacing: 12px;
    margin: 125px 0px;
    font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#footer{
    background-color: rgb(42, 89, 89, .5);
    margin-top: 150px;
    color: black;
}

#footer a{
    text-decoration: none;
}

#logo{
    width:200px;
    height: 50px;
}

#menu-photos{
    width: 200px;
    height: 200px;
}

#menu-decription-left{
    margin-top: 65px;
    margin-left: 175px;
}

#menu-decription-right{
    margin-top: 65px;
    margin-right: 175px;
}

#menu-decription-left-sm, 
#menu-decription-right-sm{
    display: none;
}

#lemon-photo{
    width: 200px;
    height: 300px;
}

#matcha-latte{
    width: 200px;
    height: 160px;
}

@media screen and (max-width: 767.55px) {
    #menu-decription-left{
        display: none;
    }
    
    #menu-decription-right{
        display: none;
    }
    #menu-decription-left-sm{
        display: block;
    }
    
    #menu-decription-right-sm{
        display: block;
    }
}

@media screen and (max-width: 991px) {
    #menu-decription-left{
        margin-top: 30px;
    }
    
    #menu-decription-right{
        margin-top: 30px;
    }
    }


#nc {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

